name: test

on:
  workflow_dispatch:
  push:
    tags:
      - "*"

jobs:
  build:
    name: Build ${{ matrix.arch }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        arch:
          - aarch64_generic

    permissions:
      actions: write
      contents: write
      
    steps:
      - name: Fetch latest release tag
        run: |
          latest_tag="r$(date +"%Y%m%d")"
          echo "LATEST_TAG=$latest_tag" >> $GITHUB_ENV
          echo "✅ Found release tag: $latest_tag"

      - name: show
        run: |
          echo "✅ Found release tag: ${{ env.LATEST_TAG }}"
          
